.teamArea{
    width: 100%;
    max-height: 100%;
}
/* ソートエリア */
.visualSet{
    height: calc(100% - 80vh);
    margin: 10px;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    border-bottom: #ccc 1px solid;
}

/* ローディング */
.loadingArea{
    margin: 10px 0;
}

/* カード型表示 */

.teamCardArea{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-height: 80vh;
    padding-top: 10px;
    justify-content: space-around;
    overflow: scroll;
}
.cardItem{
    padding: 20px;
    width: calc((100% - 60px) / 4);
    border: #ccc 1px solid;
    border-radius:  5px;
    box-shadow: 4px 4px 4px -4px;
}
.teamImgCardArea{
    margin: 5px;
}
.teamImgCardArea img{
    border-radius: 5px;
}
/* リスト表示 */
.teamAreaList{
    width: 100%;
    max-height: 80vh;
    overflow: scroll;
    display: block;
}
.listLink{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 80px;
}
/* .listItem{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
} */
/* .listItem *{
    width:calc((100% - 100px) / 4);
} */
.listItem p{
    overflow: hidden;
}
.teamImgListArea{
    margin: 5px;
}

.teamImgListArea img{
    width: 100px;
    height: 100px;
}


.addQue{
    width: 80px;
    height:80px;
    margin: 5px ;
    border-radius: 99px;
    font-weight: 400;
    font-size: 1.3rem;
    background: #fafafa;
    border: 1px solid rgb(255, 192, 66);
}